.App {
  text-align: center;
}

div {
  box-sizing: border-box;
}

.container .navbar-icon-brand {
  text-decoration: none;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./image/background.jpg');
  background-size: cover;
  padding: 40px;
  color: white;
  height: 300px;
  margin-bottom: 100px;
}

.jumbotron h1 {
  font-size: 50px;
}

.jumbotron p {
  width: 495px;
  margin: 20px auto 20px auto;
}

.btn-back {
  margin-left: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
